.checkbox {
    --color-disabled  : #ccc;
    --color-checked   : #2196f3;
    --color-unchecked : #666;
    --color-handle    : #fff;
    --width           : 40px;
    --height          : 18px;
    --padding         : 1px;
}

.checkbox {
    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    border-radius: calc(var(--height) / 2);

    box-sizing: border-box;
    transition: 100ms;
    background-color: var(--color-unchecked);
    cursor: pointer;
    user-select: none;
}

.checkbox > .handle {
    width: calc(var(--height) - 2 * var(--padding));
    height: calc(var(--height) - 2 * var(--padding));
    border-radius: 50%;

    background-color: var(--color-handle);
}

.checkbox.checked {
    padding-left: calc(var(--width) - var(--height) + var(--padding));
    background-color: var(--color-checked);
}

.checkbox.disabled, .checkbox.checked.disabled {
    background-color: var(--color-disabled);
}
