.range-tone-mapper-dialog {
    position: fixed;
    z-index: 1010;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.range-tone-mapper-dialog .panel-heading {
    cursor: move;
}

.range-tone-mapper-dialog .resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

.range-tone-mapper-dialog:hover {
    opacity: 1;
}
