<div class="artistic-tone-mapper-dialog panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close">&times;</button>
    <h3 class="panel-title">Artistic Tone Mapper Properties</h3>
  </div>
  <div class="panel-body">
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Low</label>
      <input name="low" class="form-control" type="number" min="0" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Mid</label>
      <input name="mid" class="form-control" type="number" min="0" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">High</label>
      <input name="high" class="form-control" type="number" min="0" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Saturation</label>
      <input name="saturation" class="form-control" type="number" min="0" step="0.1">
    </div>
  </div>
  <div class="resize-handle"></div>
</div>
