<div class="eam-renderer-dialog panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close">&times;</button>
    <h3 class="panel-title">EAM Properties</h3>
  </div>
  <div class="panel-body">
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Steps</label>
      <input name="steps" class="form-control" type="number" value="10" min="1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Alpha correction</label>
      <input name="alpha-correction" class="form-control" type="number" min="0" step="0.1">
    </div>
    <div class="tfw-container">
    </div>
  </div>
  <div class="resize-handle"></div>
</div>
