<div class="range-tone-mapper-dialog panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close">&times;</button>
    <h3 class="panel-title">Range Tone Mapper Properties</h3>
  </div>
  <div class="panel-body">
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Min</label>
      <input name="min" class="form-control" type="number" min="0" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Max</label>
      <input name="max" class="form-control" type="number" min="0" step="0.1">
    </div>
  </div>
  <div class="resize-handle"></div>
</div>
