<div class="rendering-context-dialog panel panel-default">
  <div class="panel-heading">
    <button type="button" class="close">&times;</button>
    <h3 class="panel-title">Rendering Context Properties</h3>
  </div>
  <div class="panel-body">
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Scale (x)</label>
      <input name="scale" data-axis="x" class="form-control" type="number" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Scale (y)</label>
      <input name="scale" data-axis="y" class="form-control" type="number" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Scale (z)</label>
      <input name="scale" data-axis="z" class="form-control" type="number" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Translation (x)</label>
      <input name="translation" data-axis="x" class="form-control" type="number" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Translation (y)</label>
      <input name="translation" data-axis="y" class="form-control" type="number" step="0.1">
    </div>
    <div class="input-group input-group-sm">
      <label class="input-group-addon">Translation (z)</label>
      <input name="translation" data-axis="z" class="form-control" type="number" step="0.1">
    </div>
  </div>
  <div class="resize-handle"></div>
</div>
