@import 'AboutText.css';
@import 'ui/UI.css';

html, body {
    padding: 0;
    margin: 0;
}

* {
    font-family: sans-serif;
    font-size: 12px;
    color: #333;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkerboard {
    background: url('../images/alpha-checkerboard.png') repeat;
}

.invisible {
    display: none !important;
}
