<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="open-file-dialog-button"><a href="#">Open file</a></li>
            <li name="open-environment-map-dialog-button"><a href="#">Open environment map</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="reset-renderer-button"><a href="#">Reset</a></li>
            <li name="rendering-context-dialog-button"><a href="#">Rendering Context Properties</a></li>
            <li name="mip-renderer-dialog-button"><a href="#">MIP Properties</a></li>
            <li name="iso-renderer-dialog-button"><a href="#">ISO Properties</a></li>
            <li name="eam-renderer-dialog-button"><a href="#">EAM Properties</a></li>
            <li name="mcs-renderer-dialog-button"><a href="#">MCS Properties</a></li>
            <li name="multiple-scattering-renderer-dialog-button"><a href="#">Multiple Scattering Properties</a></li>
            <li name="reinhard-tone-mapper-dialog-button"><a href="#">Reinhard Tone Mapper Properties</a></li>
            <li name="range-tone-mapper-dialog-button"><a href="#">Range Tone Mapper Properties</a></li>
            <li name="artistic-tone-mapper-dialog-button"><a href="#">Artistic Tone Mapper Properties</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Renderer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="choose-mip-renderer-button"><a href="#">MIP</a></li>
            <li name="choose-iso-renderer-button"><a href="#">ISO</a></li>
            <li name="choose-eam-renderer-button"><a href="#">EAM</a></li>
            <li name="choose-mcs-renderer-button"><a href="#">MCS</a></li>
            <li name="choose-multiple-scattering-renderer-button"><a href="#">Multiple Scattering</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
