<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="open-file-dialog"><a href="#">Open file</a></li>
            <li name="open-environment-map-dialog"><a href="#">Open environment map</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="rendering-context-dialog"><a href="#">Rendering context settings</a></li>
            <li name="renderer-settings-dialog"><a href="#">Renderer settings</a></li>
            <li name="tone-mapper-settings-dialog"><a href="#">Tone mapper settings</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Renderer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="choose-mip-renderer"><a href="#">Maximum intensity projection</a></li>
            <li name="choose-iso-renderer"><a href="#">Isosurface extraction</a></li>
            <li name="choose-eam-renderer"><a href="#">Emission-absorption model</a></li>
            <li name="choose-mcs-renderer"><a href="#">Single scattering</a></li>
            <li name="choose-multiple-scattering-renderer"><a href="#">Multiple Scattering</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tone mapper <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li name="choose-range-tone-mapper"><a href="#">Range</a></li>
            <li name="choose-reinhard-tone-mapper"><a href="#">Reinhard</a></li>
            <li name="choose-artistic-tone-mapper"><a href="#">Artistic</a></li>
          </ul>
        </li>

        <li name="reset-renderer"><a href="#">Reset</a></li>

      </ul>
    </div>
  </div>
</nav>
