<div id="open-file-dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Open file</h4>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label class="btn btn-default btn-file">
                            <input type="file" id="open-file-dialog-file">
                            Select file
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="open-file-dialog-bits" value="8" checked>
                            8 bits
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="open-file-dialog-bits" value="16">
                            16 bits
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon">Size (x)</label>
                            <input name="open-file-dialog-size" class="form-control" type="number" data-axis="x" value="256">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon">Size (y)</label>
                            <input name="open-file-dialog-size" class="form-control" type="number" data-axis="y" value="256">
                        </div>
                        <div class="input-group">
                            <label class="input-group-addon">Size (z)</label>
                            <input name="open-file-dialog-size" class="form-control" type="number" data-axis="z" value="256">
                        </div>
                    </div>

            </div>
            <div class="modal-footer">
                <button id="open-file-dialog-open" type="button" class="btn btn-primary" data-dismiss="modal">Open</button>
                <button id="open-file-dialog-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
